title = "Course"
url = "/course"
layout = "Default"
is_hidden = 0
==
<?php
function onStart() {
    $courses = Db::table("academy_course_courses")->where('id', $_GET['id'])->get();
    if (count($courses)) {
        $course = $courses;
        $this["course"] = $course;
        $steps = Db::table("academy_course_steps")->where('course_id', $_GET['id'])->get();

        $this["steps"] = $steps;
    } else {
        $this["course"] = "null";
        $this["steps"] = "[]";
    }
}
?>
==
<link href="{{ 'assets/css/courseViewer.css' | theme}}" rel="stylesheet" />

<div id="viewer" class="viewer">
    <template v-if="course">
        <div class="viewer-head">
            <div v-text="course.name" class="course-name"></div>
            <div id="stateButtons" data-toggle="buttons" v-if="buttons">
                <label v-for="(button, index) in buttons" :class="button.value == active ? 'btn btn-primary' : 'btn btn-light'" class="mr-2 mb-0" @click="setState(button.value)">
                    <input type="radio" name="state" autocomplete="off" class="d-none"><span v-text="button.label"></span>
                </label>
            </div>
        </div>
        <div class="viewer-body">
            <div class="viewer-steps">
                <div class="viewer-step" v-for="(step, index) in steps" :key="step.id">
                    <button v-text="(index + 1) + '. ' + step.step_name" @click="selectStep(step)" class="viewer-step-name" :disabled="step == currStep"></button>
                </div>
            </div>
            <div class="viewer-main">
                <div v-if="currStep">
                    <iframe class="viewer-iframe" frameborder="0" @load="loading = false" ref="iframe"></iframe>
                </div>
                <div v-else>
                    <div class="viewer-no-step">
                        <h3>
                            Zvoľte krok na zobrazenie
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <div v-else class="viewer-course-not-found">
        <h3>
            Kurz nebol nájdený<br>
        </h3>
        <a href="/kurzy" class="btn btn-primary mt-2">Naspäť</a>
    </div>
</div>

<script>
    var viewer = new CourseViewer({{ course| raw }}, {{ steps | raw }},
    {% if user %}
    true
    {% else %}
    false
    {% endif %}
    )
</script>

<style>
    .footer {
        display: none !important;
    }
</style>