title = "Úvod"
url = "/"
layout = "Default"
is_hidden = 0

[builderList]
modelClass = "Academy\Course\Models\Course"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 4
pageNumber = "{{ :page }}"
==
<?php
function onStart() {
		$this["courses"] = Db::table("academy_course_courses")->get();
	}
?>
==
<div class="container-fluid">
<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm">
	<div class="container-fluid mainpage">
		<div class="row">
			<div class="col d-flex justify-content-end" style="height: 10px; z-index: -1">
				<img style="height: 10000%; margin-top: -70px" src="{{'assets/Img/otherLogos/mainpage-1.png'|theme}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<div style="height: calc(100vw / 8)"></div><!-- Len na roztiahnutie stranky -->
				<p style="font-size: 13px; margin-bottom: 20px;">VŠETKO ON-LINE</p>
				<h2><b>Vzdelanie, ktoré ti zmení život</b></h2>
				<p>Vyber si oblasť, v ktorej sa chceš vzdelávať.</p>
				<p>Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				{% if user %}
				<button class="btn btn-primary" style="background-color: #575eed; margin: 30px 0px 50px 0px;" onclick="location.href='/mojekurzy'">Moje Kurzy</button>
				{% else %}
				<button class="btn btn-primary" style="background-color: #575eed; margin: 30px 0px 50px 0px;" onclick="location.href='/login'">Prihlásiť sa</button>
				{% endif %}
				<p>Aké technológie sa tu naučíte:</p>
				<div style="margin-bottom: 150px;">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/ionic-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/un-js-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/react-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/vue-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/angular-logo.png'|theme}}">
				</div>
				<div style="height: calc(100vw / 18)"></div><!-- Len na roztiahnutie stranky -->
				<div style="margin-bottom: 50px;">
					<h2>V našich kurzoch učíme ľudí <b>programovať webstránky a mobilné aplikácie</b></h2>
				</div>
			</div>
			<div class="col-md">
				<!-- void -->
			</div>
		</div>
		<div class="row">
			<div class="col-md d-flex align-items-center" style="flex-direction: column;">
				<img class="mainpage-ficurky" src="{{'assets/Img/topficurky/ficurka-1.png'|theme}}">
				<div class="mainpage-ficurky">
					<h3><b>Top fičurka ktorá je najlepšia</b></h3>
					<p>Vyberte si oblasť, v ktorej sa chceš vzdelávať. Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				</div>
			</div>
			<div class="col-md d-flex align-items-center" style="flex-direction: column;">
				<img class="mainpage-ficurky" src="{{'assets/Img/topficurky/ficurka-2.png'|theme}}">
				<div class="mainpage-ficurky">
					<h3><b>Top fičurka ktorá je najlepšia</b></h3>
					<p>Vyberte si oblasť, v ktorej sa chceš vzdelávať. Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				</div>
			</div>
			<div class="col-md d-flex align-items-center" style="flex-direction: column;">
				<img class="mainpage-ficurky" src="{{'assets/Img/topficurky/ficurka-3.png'|theme}}">
				<div class="mainpage-ficurky">
					<h3><b>Top fičurka ktorá je najlepšia</b></h3>
					<p>Vyberte si oblasť, v ktorej sa chceš vzdelávať. Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md" style="margin: 50px 0px 50px 0px;">
				<h2><b>Naše kurzy</b></h2>
			</div>
		</div>
		<div class="row">
      
      
        <!-- top kurzy neskôr moje kurzy -->
      {% set records = builderList.records %}
      {% set displayColumn = builderList.displayColumn %}
      {% set noRecordsMessage = builderList.noRecordsMessage %}
      {% set detailsPage = builderList.detailsPage %}
      {% set detailsKeyColumn = builderList.detailsKeyColumn %}
      {% set detailsUrlParameter = builderList.detailsUrlParameter %}

      <ul class="record-list home-record-list">
    {% for record in records %}
    <a href="course?id={{ record.id }}" data-aos="fade-up" data-aos-duration="500" class="aos-init aos-animate" v-for="course in courses">
              <li class="list-title course-title">
        <img src="{{ record.courseThumb.path }}" class="list-title-header-image">
                  {# Use spaceless tag to remove spaces inside the A tag. #}
                  {% spaceless %}
          <h4 style="background-color: rgba(31, 31, 31, 0.15); color: rgb(31, 31, 31)" class="list-title">{{ record.name }}</h4>
          <h5><p> {{ record.description|raw }} </p></h5>
                  {% endspaceless %}
      </li>
    </a>
          {% else %}
              <li class="no-data">{{ noRecordsMessage }}</li>
          {% endfor %}
      </ul>

      {% if records.lastPage > 1 %}

      {% endif %}



		</div>
		<div class="row" style="margin-top: 30px">
			<div class="col-md d-flex justify-content-center">
				<button class="btn btn-wtite" style="border: 1px solid #f0f0f0; padding: 20px 40px 20px 40px; margin-bottom: 80px;" onclick="location.href='/kurzy'">Všetky kurzy</button>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-1"></div>
</div>
</div>
<!-- Spravte mi na to zvlášť css file, ďakujem ❤ -->
<style>
    .record-list .list-title h3 {
    margin-left: 10px;
    font-size: 16px;
  }
  .record-list .list-title h4 {
    background-color: white !important;
    padding: 0;
    margin-left: 10px;
    display: inline;
  }
  .record-list .list-title h5 {
    margin-left: 15px;
  }
  .record-list .list-title h5 * {
    font-size: 12px;
  }
  
.record-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.record-list .list-title {
  width: 356px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 40px;
  overflow: hidden;
  transition-duration: 300ms;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 438px;
  color: #031D5B;
}
.record-list .list-title .list-title-header-image {
  width: 100%;
  height: 228px;
  margin-bottom: 30px;
  object-fit: cover;
}
.record-list .list-title h4 {
  margin-left: 5%;
}
.record-list .list-title h5 {
  display: block;
  width: 90%;
  margin: 20px auto 0 auto;
}
.record-list .list-title h5 * {
  font-family: "BwModelicaLightCondensed";
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}
.record-list .list-title a:hover {
  text-decoration: none;
}
.record-list .empty-box {
  width: 356px;
  height: 0;
  list-style-type: none;
}
.record-list .course-title {
  background-color: #ffffff;
  box-shadow: 0 0 0px 0 #E9E9E9;
}
.record-list .course-title:hover {
  box-shadow: 0 0 150px 0 #E9E9E9;
}
.record-list .blog-title {
  border-radius: 10px;
  transition-duration: 300ms !important;
  color: #FFFFFF;
  height: 450px;
}
.record-list .blog-title h3 {
  font-family: "BwModelicaBoldCondensed";
  font-size: 20px;
  max-width: 90%;
  margin: auto;
}
.record-list .blog-title p {
  max-width: 90%;
  margin: 10px 0 0 0;
}
.record-list .blog-title p * {
  font-family: "BwModelicaLightCondensed" !important;
  font-size: 14px important;
  color: white;
  line-height: 25px !important;
  font-style: normal;
}
.record-list .blog-title:hover {
  background-color: #6fccf7;
  transform: scale(1.01);
}

@media screen and (max-width: 1300px) {
  .record-list {
    justify-content: space-around;
  }
  .record-list .list-title {
    margin: 30px;
  }
}
@media screen and (max-width: 1300px) and (max-width: 1100px) {
  .record-list .list-title {
    margin: 0px;
  }
}
@media screen and (max-width: 1300px) and (max-width: 900px) {
  .record-list .list-title {
    margin: 70px;
  }
}
@media screen and (max-width: 600px) {
  .record-list .list-title {
    width: 90vw;
    margin: 0;
  }
  .record-list .list-title .list-title-header-image {
    width: 90vw;
    height: calc(90vw / 1.5614);
  }
  .record-list .empty-box {
    display: none;
  }
}
@media screen and (max-width: 400px) {
  .record-list .list-title {
    overflow: hidden;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 20px;
  }
  .record-list .list-title h3 {
    margin-left: 10px;
    font-size: 16px;
  }
  .record-list .list-title h4 {
    background-color: white !important;
    padding: 0;
    margin-left: 10px;
    display: inline;
  }
  .record-list .list-title h5 {
    margin-left: 15px;
  }
  .record-list .list-title h5 * {
    font-size: 12px;
  }
}
</style>