title = "index"
url = "/"
layout = "Default"
is_hidden = 0

[builderList RetrieveCourses]
modelClass = "Academy\Course\Models\Course"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Neni vytvorený žiadny kurz"
detailsPage = "-"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="container-fluid">
<div class="row">
<div class="col-sm">
	<div class="container-fluid mainpage">
		<div class="row">
			<div class="col d-flex justify-content-end" style="height: 10px; z-index: -1">
				<img class="mainpage-top-img" src="{{ 'assets/Img/otherLogos/mainpage-1.png'|theme}}">
			</div>
		</div>
		<div class="row">
			<div class="col-md">

					<div class="void" style="height: calc(100vw / 8)"></div><!-- Len na roztiahnutie stranky -->

				<p style="font-size: 13px; margin-bottom: 20px;">VŠETKO ON-LINE</p>
				<h2><b>Vzdelanie, ktoré ti zmení život</b></h2>
				<p>Vyber si oblasť, v ktorej sa chceš vzdelávať.</p>
				<p>Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				{% if user %}
				<button class="btn btn-primary" style="background-color: #575eed; margin-top: 30px;" onclick="location.href='/Kurzy'">Všetky Kurzy</button>
				{% else %}
				<button class="btn btn-primary" style="background-color: #575eed; margin-top: 30px;" onclick="location.href='login'">Prihlásiť sa</button>
				{% endif %}

					<div class="void" style="height: 20px;"></div><!-- Len na rozdiahnutie stranky -->

				<p>Aké technológie sa tu naučíte:</p>
				<div>
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/ionic-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/un-js-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/react-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/vue-logo.png'|theme}}">
					<img class="mainpage-learnthis" src="{{'assets/Img/otherLogos/angular-logo.png'|theme}}">
				</div>

					<div class="void" style="height: calc(100vw / 6)"></div><!-- Len na roztiahnutie stranky -->

				<div style="margin-bottom: 50px;">
					<h2>V našich kurzoch učíme ľudí <b>programovať webstránky a mobilné aplikácie</b></h2>
				</div>
			</div>
			<div class="col-md">
				<!-- void -->
			</div>
		</div>
		<div class="row">
			<div class="col-md d-flex align-items-center mainpage-ficurky">
				<img class="mainpage-ficurky" src="{{'assets/Img/topficurky/ficurka-1.png'|theme}}">
				<div class="mainpage-ficurky">
					<h3><b>Top fičurka ktorá je najlepšia</b></h3>
					<p>Vyberte si oblasť, v ktorej sa chceš vzdelávať. Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				</div>
			</div>
			<div class="col-md d-flex align-items-center mainpage-ficurky">
				<img class="mainpage-ficurky" src="{{'assets/Img/topficurky/ficurka-2.png'|theme}}">
				<div class="mainpage-ficurky">
					<h3><b>Top fičurka ktorá je najlepšia</b></h3>
					<p>Vyberte si oblasť, v ktorej sa chceš vzdelávať. Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				</div>
			</div>
			<div class="col-md d-flex align-items-center mainpage-ficurky">
				<img class="mainpage-ficurky" src="{{'assets/Img/topficurky/ficurka-3.png'|theme}}">
				<div class="mainpage-ficurky">
					<h3><b>Top fičurka ktorá je najlepšia</b></h3>
					<p>Vyberte si oblasť, v ktorej sa chceš vzdelávať. Naše kurzy ťa prevedú od úplných zákoadov až op pokročilejšie techniky.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md" style="margin: 50px 0px 50px 0px;">
				<h2><b>Naše kurzy</b></h2>
			</div>
		</div>

    {% set records = RetrieveCourses.records %}
    {% set displayColumn = RetrieveCourses.displayColumn %}
    {% set noRecordsMessage = RetrieveCourses.noRecordsMessage %}
    {% set detailsPage = RetrieveCourses.detailsPage %}
    {% set detailsKeyColumn = RetrieveCourses.detailsKeyColumn %}
    {% set detailsUrlParameter = RetrieveCourses.detailsUrlParameter %}



    <div id="courses">
		<div class="courses-container">
			<ul class="record-list home-record-list">
		  {% for record in records %}
				  <a href="course?id={{ record.id }}" data-aos="fade-up" data-aos-duration="500" class="aos-init aos-animate">
					<li class="list-title course-title" style="background-color: {{ record.coursecolor }}">
						  <img src="{{ record.courseThumb.path }}" class="list-title-header-image">
						{# Use spaceless tag to remove spaces inside the A tag. #}
							{% spaceless %}
							<h4 class="list-title"><b>{{ record.name }}</b></h4>
							<h5><p> {{ record.description|raw }} </p></h5>
							{% endspaceless %}
					</li>
				  </a>
				<div style="width: 10px;"></div><!-- medzera -->
				{% else %}
				<li class="no-data">{{ noRecordsMessage }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>




		<div class="row" style="margin-top: 30px">
			<div class="col-md d-flex justify-content-center">
				<button class="btn btn-wtite" style="border: 1px solid #f0f0f0; padding: 20px 40px 20px 40px; margin-bottom: 80px;" onclick="location.href='/kurzy'">Všetky kurzy</button>
			</div>
		</div>
	<!--<div class="row" style="background-color: #eeeffd;">
		<div class="col-md">
			<h2 style="margin: 50px 20px 50px 80px;">Radi by ste dostávali <b>novinky z nášho sveta</b></h2>
		</div>
		<div class="col-md d-flex align-self-center justify-content-center">
			<form class="form-subscribe d-flex align-items-center">
				<input style="border: none; height: 37px; width: 350px;" placeholder="E-mail">
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
	</div>-->
	</div>
</div>
</div>
</div>
