title = "Kurzy"
url = "/kurzy"
layout = "Default"
is_hidden = 0

[builderList RetrieveCourses]
modelClass = "Academy\Course\Models\Course"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "Neni vytvorený žiadny kurz"
detailsPage = "-"
detailsKeyColumn = "id"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php

?>
==
{% set records = RetrieveCourses.records %}
{% set displayColumn = RetrieveCourses.displayColumn %}
{% set noRecordsMessage = RetrieveCourses.noRecordsMessage %}
{% set detailsPage = RetrieveCourses.detailsPage %}
{% set detailsKeyColumn = RetrieveCourses.detailsKeyColumn %}
{% set detailsUrlParameter = RetrieveCourses.detailsUrlParameter %}



<div id="courses">
    <div class="courses-container">
		<ul class="record-list home-record-list">
      {% for record in records %}
      		<a href="course?id={{ record.id }}" data-aos="fade-up" data-aos-duration="500" class="aos-init aos-animate">
                <li class="list-title course-title" style="background-color: {{ record.coursecolor }} !important;">
                    <img src="{{ record.courseThumb.path }}" class="list-title-header">
          			<div class="list-title-header d-flex flex-column list-title-header-overlay">
                        <div class="flex-fill"></div>
                        <h1 class="text-white ml-2">{{ record.name }}<h1>
                    </div>
                    {# Use spaceless tag to remove spaces inside the A tag. #}
                        {% spaceless %}
                        <h5><p> {{ record.description|raw }} </p></h5>
                        {% endspaceless %}
        		</li>
      		</a>
			<div style="width: 10px;"></div><!-- medzera -->
            {% else %}
			<li class="no-data">{{ noRecordsMessage }}</li>
            {% endfor %}
        </ul>
    </div>
</div>




{% if records.lastPage > 1 %}
    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..records.lastPage %}
            <li class="{{ records.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}

<script>
    var courses = {{ courses|raw }}
</script>
