title = "Step"
url = "/step"
layout = "ClearLayout"
is_hidden = 0

[homework]
==
<?php
function onStart() {
    $steps = Db::table("academy_course_steps")->where('id', $_GET['id'])->get();
    $this["loggedIn"] = $_GET["loggedIn"] == "true";

    if (count($steps) > 0) {
        $this["found"] = true;
        $this["step"] = $steps[0];
        $this["name"] = $steps[0]->step_name;
        $this["videoUrl"] = $steps[0]->video_link;
        if ($steps[0]->docs_link) {
            $this["googleDocUrl"] = file_get_contents($steps[0]->docs_link);
        } else {
            $this["googleDocUrl"] = "";
        }
        $this["customText"] = $steps[0]->custom_text;
        $this["homework"] = $steps[0]->homework;
    }
}
?>
==
<link href="{{'assets/css/stepViewer.css'|theme}}" rel="stylesheet" />
<base target="_parent">

{% if found %}
<div class="step-container">
    <h2 class="mt-2 mb-3" id="header">{{ name }}</h2>

    {% if videoUrl %}
    <iframe src="https://www.youtube.com/embed/{{ videoUrl }}" class="video mb-3" hidden id="video" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    {% endif %}
    {% if googleDocUrl %}
    <iframe src="" class="document" id="document" style="height: 0;" hidden frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <template id="documentSrc">
        {{ googleDocUrl|raw }}
    </template>
    {% endif %}
    {% if customText %}
    <div id="customText" class="document" hidden>
        {{ customText|raw }}
    </div>
    {% endif %}
    {% if homework and loggedIn %}
    <div id="homework" hidden>
        {% component 'homework' %}
    </div>
    {% endif %}
</div>

<script>
    var video = document.getElementById("video")
    /** @type {HTMLIFrameElement} */
    var googleDoc = document.getElementById("document")
    var customText = document.getElementById("customText")
    var homework = document.getElementById("homework")
    var header = document.getElementById("header")

    function setState(/** @type {"video" | "document" | "custom" | "homework"} */ state) {
        if (video) video.hidden = state != "video"
        if (googleDoc) googleDoc.hidden = state != "document"
        if (customText && !video) customText.hidden = state != "custom"
        if (customText && video) customText.hidden = state != "video"
        if (homework) homework.hidden = state != "homework"
    }

    function getAvalible() {
        /** @type {Array<{label : string, value: string}>} */
        var ret = []

        if (video) ret.push({ label: "Video", value: "video" })
        if (googleDoc) ret.push({ label: "Dokument", value: "document" })
        if (customText && !video) ret.push({ label: "Text", value: "custom" })
        if (homework) ret.push({ label: "Úloha", value: "homework" })

        return ret
    }

    function documentResize() {
        googleDoc.style.height = `calc(${getComputedStyle(googleDoc.contentDocument.body).height} + 16px)`
    }


    if (video) setState("video")
    else if (googleDoc) setState("document")
    else if (customText) setState("custom")
    else if (homework) setState("homework")

    if (googleDoc) {
        googleDoc.contentDocument.body.innerHTML = document.getElementById("documentSrc").innerHTML
        documentResize()
    }

</script>
{% else %}
<div class="error-div">
    <h3>
        Krok nebol nájdený<br>
    </h3>
</div>
{% endif %}