title = "Step"
url = "/step"
layout = "ClearLayout"
is_hidden = 0

[homework]
==
<?php
function onStart() {
    $steps = Db::table("academy_course_steps")->where('id', $_GET['id'])->get();
    $this["loggedIn"] = $_GET["loggedIn"] == "true";

    if (count($steps) > 0) {
        $this["found"] = true;
        $this["step"] = $steps[0];
        $this["name"] = $steps[0]->step_name;
        $this["videoUrl"] = $steps[0]->video_link;
        $this["googleDocUrl"] = $steps[0]->docs_link;
        $this["customText"] = $steps[0]->custom_text;
        $this["homework"] = $steps[0]->homework;
    }
}
?>
==
<link href="{{'assets/css/stepViewer.css'|theme}}" rel="stylesheet" />

{% if found %}
<div class="step-container">
    <h2>{{ name }}</h2>

    {% if videoUrl %}
    <iframe
        src="https://www.youtube.com/embed/{{ videoUrl }}"
        class="video"
        hidden
        id="video"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    {% endif %}
    {% if googleDocUrl %}
    <iframe
        src="{{ googleDocUrl }}"
        class="document"
        id="document"
        hidden
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    {% endif %}
    {% if customText %}
    <div id="customText" class="document" hidden>
        {{ customText|raw }}
    </div>
    {% endif %}
    {% if homework and loggedIn %}
    <div id="homework" hidden>
        {% component 'homework' %}
    </div>
    {% endif %}
</div>

<script>
    var video = document.getElementById("video")
    var googleDoc = document.getElementById("document")
    var customText = document.getElementById("customText")
    var homework = document.getElementById("homework")

    function setState(/** @type {"video" | "document" | "custom" | "homework"} */ state) {
        if (video) video.hidden = state != "video"
        if (googleDoc) googleDoc.hidden = state != "document"
        if (customText) customText.hidden = state != "custom"
        if (homework) homework.hidden = state != "homework"
    }

    function getAvalible() {
        /** @type {Array<{label : string, value: string}>} */
        var ret = []

        if (video) ret.push({ label: "Video", value: "video" })
        if (googleDoc) ret.push({ label: "Dokument", value: "document" })
        if (customText) ret.push({ label: "Text", value: "custom" })
        if (homework) ret.push({ label: "Úloha", value: "homework" })

        return ret
    }

    if (video) video.hidden = false
    else if (googleDoc) googleDoc.hidden = false
    else if (customText) customText.hidden = false
    else if (homework) homework.hidden = false
</script>
{% else %}
<div class="error-div">
    <h3>
        Krok nebol nájdený<br>
    </h3>
</div>
{% endif %}