==
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <head>
    <meta charset="utf-8">


                  <!-- Custom style -->
    <link href="{{'assets/css/master.css'|theme}}" rel="stylesheet" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

                    <!-- Extensions for web (Something as bootstrap, jQuery...) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Ajax -->
    <script src="{{'assets/js/jquery.min.js'|theme}}"></script> <!-- Ajax -->
    <script src="{{ 'assets/javascript/jquery.js'|theme }}"></script>

    <!-- Frontend -->
    <script src="{{'assets/js/popup.js'|theme}}" defer async ></script>
    <script src="{{'assets/js/phpDataParser.js'|theme}}"></script>
    <script src="{{'assets/js/courseViewer.js'|theme}}"></script>

    <!-- External lib -->
    <script src="{{'assets/js/vue.js'|theme}}"></script> <!-- Vue.js -->

    {% framework extras %}
    {% framework %}

                  <!-- meta Settings - SEO (missing OG)-->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="KurzCademy je aplikácia na vytváranie a zdieľanie kurzov." />
    <meta name="keywords" content="kurz development, kurzy, editor kurzov, vutvaranie kurzov, vlastne kurzy" />
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 4px;
      }
    </style>
  </head>
  <body>

    {% page %} <!-- Sem je vsetko na stranke -->

    <script src="{{ 'path_to_jquery/jquery.js'|theme }}"></script>
    {% framework %}


  </body>
</html>