title = "Course"
url = "/course"
layout = "Default"
is_hidden = 0
==

function onStart() {
	$this["course"] = Db::table("academymod_createcourse_create_courses")->where('id', $_GET['id'])->get();
}

==

<link href="themes/KurzCademy/assets/css/courseViewer.css" rel="stylesheet" />

<div id="viewer" class="viewer">
    <template v-if="course">
        <div class="viewer-head">
            <span v-text="course.name" class="course-name"></span>
        </div>
        <div class="viewer-body">
            <div class="viewer-steps">
                <div class="viewer-step" v-for="step in steps" :key="step.id">
                    <button v-text="step.step_name" @click="currStep = step" class="viewer-step-name" :disabled="step == currStep"></button>
                </div>
            </div>
            <div class="viewer-main">
                <div v-if="currStep">
                    <span v-text="currStep.label"></span>
                </div>
            </div>
        </div>
    </template>
    <div v-else class="viewer-course-not-found">
        <h3>
            Kurz nebol nájdený<br>
        </h3>
        <a href="/kurzy" class="btn btn-primary mt-2">Naspäť</a>
    </div>
</div>

<script>
    var viewer = new CourseViewer(parsePHPData(`{{ course }}`))
</script>
