title = "Editor"
url = "/editor"
layout = "Default"
is_hidden = 0
==

function onRequestUpdate() {
    $id = Input::get('id');
    
    $course = Db::table("academy_course_courses")->where('id', $id)->get();
    $stepsTable = "academy_course_" . $id;
    if (Schema::hasTable($stepsTable)) {
        $steps = Db::table($stepsTable)->get();
    } else {
        $steps = [];
    }
    
    
    return [
    'course' => $course,
    'steps' => $steps
    ];
}

function onCreateNewStep() {
    $id = Input::get('id');
    $position = Input::get('position');
    
    $stepsTable = "academy_course_" . $id;
    $stepId = Db::table($stepsTable)->insertGetId(
        ['position' => $position, 'step_name' => "Nový krok", 'link' => "", 'type' => "googleDoc"]
    );
        
    return [
        'id' => $stepId
    ];
}
    
function onSaveStep() {
    $link = Input::get('link');
    $position = Input::get('position');
    $step_name = Input::get('step_name');
    $type = Input::get('type');
    $id = Input::get('id');
    $courseId = Input::get('courseId');
    $stepsTable = "academy_course_" . $courseId;

    Db::table($stepsTable)->where('id', $id)->update([
        'step_name' => $step_name,
        'position' => $position,
        'type' => $type,
        'link' => $link
    ]);
}

function onDeleteStep() {
    $id = Input::get("id");
    $courseId = Input::get('courseId');
    
    $stepsTable = "academy_course_" . $courseId;
    Db::table($stepsTable)->where('id', $id)->delete();
}

function onSaveCourse() {
    $id = Input::get("id");
    $description = Input::get('description');
    $difficulty = Input::get('difficulty');
    $name = Input::get('name');
    $publisher = Input::get('publisher');
    $teacher_name = Input::get('teacher_name');

    Db::table("academy_course_courses")->where('id', $id)->update([
        'description' => $description,
        'difficulty' => $difficulty,
        'name' => $name,
        'publisher' => $publisher,
        'teacher_name' => $teacher_name
    ]);
}

==
<link href="themes/KurzCademy/assets/css/editor.css" rel="stylesheet" />
<div id="editor">
    <div id="editorHead">
        <input id="courseName" v-model="name" onchange="editor.course.name = this.value; editor.saveCourse()">
        <button class="btn btn-outline-secondary">Preview</button>
        <button class="btn btn-outline-secondary">Nastavenia</button>
    </div>
    <div id="editorBody">
        <div id="editorSteps">
            <div class="editor-step" v-for="step in steps" :key="step.id">
                <button v-text="step.step_name" @click="currStep = step" class="editor-step-name" :disabled="step == currStep"></button>
                <button @click="moveStep(step, -1)" :disabled="step == steps[0]">↑</button>
                <button @click="moveStep(step, 1)"  :disabled="step == steps[steps.length - 1]">↓</button>
                <button @click="deleteStep(step)">X</button>
            </div>
            <div id="editorNewStep">
                <button onclick="editor.createNewStep()">+</button>
            </div>
        </div>
        <div id="editorMain">
            <div v-if="currStep">
                <div class="form-group">
                    <label for="stepName">Názov</label>
                    <input name="stepName" class="form-control" v-model="currStep.step_name" placeholder="Vložte názov" onchange="editor.saveStep(editor.vm.currStep)">
                </div>
                <div class="form-group">
                    <label for="stepType">Typ</label>
                    <select class="form-control" v-model="currStep.type" name="stepType" onchange="editor.saveStep(editor.vm.currStep)">
                        <option value="googleDoc">Google Document</option>
                        <option value="youtube">YouTube Video</option>
                        <option value="html">HTML</option>
                        <option value="markdown">Markdown</option>
                    </select>
                </div>
                <div class="form-group" v-if="currStep.type == 'googleDoc' || currStep.type == 'youtube'">
                    <label for="stepLink">Link</label>
                    <input name="stepLink" class="form-control" v-model="currStep.link" placeholder="Vložte link" onchange="editor.saveStep(editor.vm.currStep)">
                </div>
                <div class="form-group" v-if="currStep.type == 'markdown' || currStep.type == 'html'" id="editorCode">
                    <label for="stepCode">Link</label>
                    <textarea name="stepCode" class="form-control" v-model="currStep.link" onchange="editor.saveStep(editor.vm.currStep)"></textarea>
                </div>
            </div>
            <div v-else>
                Vytvorte nový krok pre editovanie
            </div>
        </div>
    </div>
</div>
<script>
    var editor = new CourseEditor()
    
    editor.update()
</script>