title = "Kurzy"
url = "/kurzy"
layout = "Default"
is_hidden = 0
==
    <div class="card-deck">
        <!-- HybridLab karta -->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="themes\KurzCademy\assets\Img\KurzPhotos\HybridLab.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">HybridLab</h5>
                <p class="card-text">Zapoj sa aj ty do samovzdelávacieho procesu, vďaka ktorému sa naučíš mnoho nových vecí z oblasti programovania a IT. Ukážeme ti ako si môžeš vytvoriť vlastnú webovú stránku. Ak ťa to zaujalo, neváhaj a prihlás sa:</p>
                {% if user %}
                <a href="#" class="btn btn-primary">Požiadať o prihlásenie</a>
                {% else %}
                <a href="account" class="btn btn-primary">Zaregistrovať sa</a>
                {% endif %}
            </div>
        </div>

        <!-- GamesLab karta -->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">GamesLab</h5>
                <p class="card-text">Zapoj sa aj ty do samovzdelávacieho procesu, vďaka ktorému sa naučíš mnoho nových vecí z oblasti programovania a IT. Ukážeme ti ako si môžeš vytvoriť svoju vlastnú hru. Ak ťa to zaujalo, neváhaj a prihlás sa:</p>
                {% if user %}
                <a href="#" class="btn btn-primary">Požiadať o prihlásenie</a>
                {% else %}
                <a href="account" class="btn btn-primary">Zaregistrovať sa</a>
                {% endif %}
            </div>
        </div>

        <!-- Vlastny kurz -->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Vlastný kurz</h5>
                <p class="card-text">Máte záujem stať sa učiteľom vo svojom vlastnom kurze? neváhajte a napíšte nám.</p>
                <a href="#" class="btn btn-primary">Napísať mail</a>
            </div>
        </div>
    </div>