#editor {
    height: calc(100vh - 98px - 208px);
    display: flex;
    flex-direction: column;
}

#editorHead {
    flex: 0 0 25px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 4px;
    padding-right: 0;
}

#editorHead > * {
    margin-right: 4px;
}

#editorHead > button {
    margin-top: 6px;
    margin-bottom: 6px;
}

#courseName {
    flex: 1 1;
    border: none;
    font-size: 20px;
}

#editorBody {
    flex: 1 1;
    display: flex;
    flex-direction: row;
}

#editorSteps {
    flex: 0 0 200px;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 1px solid black;
}

.editor-step {
    display: flex;
    flex-direction: row;
    height: 20px;
}

.editor-step > button {
    line-height: 14px;
}

.editor-step-name {
    flex: 1 1;
    text-align: left;
}

#editorMain {
    padding: 10px;
    flex: 1 1;
}

#editorNewStep {
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

#editorNewStep > button {
    height: 20px;
    line-height: 14px;
}