body{
  background-color: red;
}
.kurzContent{
  float: none;
}
.KurzStart{
  background-image: url('themes/KurzCademy/assets/Img/KurzLevels/KurzStart.png');
  /* Mato prosim prerob to na responzivne ja sa s tym mrdat teraz nebudem */
  background-size: cover;
  width: 384px;
  height: 384px;
  float: left;
}
.KurzContinue{
  background-image: url('assets/Img/KurzLevels/KurzContinue.png');
  background-size: cover;
  /* Mato prosim prerob to na responzivne ja sa s tym mrdat teraz nebudem */
  width: 384px;
  height: 384px;
  float: left;
}

/* Classy pre vyskakovacie okna */
.popupParent {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  justify-content: center;
  align-items: center;

}

.popupWindow {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  height: 50%;
  padding: 10px;
  animation: pupupWindowAnimation 0.5s;
  animation-timing-function: ease-in-out;
  justify-content: center;
}

@keyframes pupupWindowAnimation {
  from {
    height: 0;
    opacity: 0;
	filter: alpha(opacity=0);
  }
  to {
    height: 50%;
    opacity: 1;
	filter: alpha(opacity=100);
  }
}

.popupIframe {
  width: 80%;
  height: 100%;
  border: none;
  background: none;
  text-align: center;
}
