body{
  background-color: red;
}
.kurzContent{
  float: none;
}
.KurzStart{
  background-image: url('themes/KurzCademy/assets/Img/KurzLevels/KurzStart.png');
  /* Mato prosim prerob to na responzivne ja sa s tym mrdat teraz nebudem */
  background-size: cover;
  width: 384px;
  height: 384px;
  float: left;
}
.KurzContinue{
  background-image: url('assets/Img/KurzLevels/KurzContinue.png');
  background-size: cover;
  /* Mato prosim prerob to na responzivne ja sa s tym mrdat teraz nebudem */
  width: 384px;
  height: 384px;
  float: left;
}
