==
<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->

        <p> <div class="container">

          <div class="row">

            <div class="col">
              OPENLAB <br>
              <br>
              Klincová 35 <br>
              821 98 Bratislava <br>

            </div>

            <div class="col">

              Support <br>
              <br>
              <a href="tel:+421902816536">+421 902 816 536</a> <br>
              <a href="mailto:info@openlab.sk">info@openlab.sk</a> <br>

            </div>

          </div>

        </div> </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/">Domov</a>
          </li>
          <li>
            <a href="/kurzy">Kurzy</a>
          </li>
          {% if user%}
          <li>
            <a href="/mojekurzy">Moje Kurzy</a>
          </li>
          {% endif %}
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Created by
    <a href="https://wezeo.com"> <!-- <img src="themes\KurzCademy\assets\Img\wezeoLogo\wezeo_logo.png" class="img-fluid" style="width: 96px" alt="Wezeo">--> Peter Knaus & Branislav Trstenský & Matej Sudovský</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
