==
<!-- Bootstrap navbar -->
{% if this.page.url == '/' %} <!-- Keď je zobrazená hlavná stránka, zobraz: -->

<nav class="d-flex justify-content-between navbar navbar-expand-lg navbar-light">
	<div>
		<a class="navbar-brand" href="#"><img src="" class="img-fluid" alt="logo here"></a>
	</div>
	<div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<p class="nav-item nav-link" style="margin: 2% 2% 0% 0%; width: 150px;">Ešte nemáš účet?</p>
				<a class="nav-item btn btn-secondary" style="width: 150px;" href="register" ">Registruj sa</a>
			</div>
		</div>
	</div>
</nav>

{% else %}<!-- Keď nie je zobrazená hlavná stránka, zobraz: -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="themes\KurzCademy\assets\Img\logo\KurzCademyLogo.png" class="img-fluid" width="128px" alt="Domov"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if this.page.url == '/' %} <!-- Ked je zobrazena hlavna stranka, zobraz:-->
        <a class="nav-item nav-link active" href="/">Domov <span class="sr-only">(current)</span></a>
      {% else %}<!--inak zobraz: -->
        <a class="nav-item nav-link" href="/">Domov <span class="sr-only">(current)</span></a>
      {% endif %}

	  {% if this.page.url == '/kurzy' %}<!-- Ked je zobrazena stranka Kurzy, zobraz: -->
        <a class="nav-item nav-link active" href="kurzy">Kurzy</a>
      {% else %}<!--inak zobraz:-->
        <a class="nav-item nav-link" href="kurzy">Kurzy</a>
      {% endif %}
      {% if user %} <!-- Keď je user prihláseny tak zobraz toto -->
        {% if this.page.url == '/mojekurzy' %}<!-- Ked je zobrazena stranka Moje Kurzy, zobraz: -->
          <a class="nav-item nav-link active" href="mojekurzy">Moje kurzy</a>
        {% else %}<!-- inak zobraz: -->
          <a class="nav-item nav-link" href="mojekurzy">Moje kurzy</a>
        {% endif %}
	  <div class="dropdown"><!-- nastavenia a logout -->
		<a class="nav-item nav-link dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  {{user.name}}
		</a>
		<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
		  <a class="dropdown-item" href="account" ">Nastavenia</a>
		  <a class="dropdown-item" data-request="onLogout" data-request-data="">Odhlásiť sa</a>
	    </div>
	  </div>
      {% else %} <!-- Inak toto -->
        <a class="nav-item nav-link" href="login">Prihlásiť sa</a>
        <a class="nav-item nav-link" href="register">Zaregistrovať sa</a>
      {% endif %}

    </div>
  </div>
</nav>

{% endif %}
<!--
{% if this.page.url == '/kurzy' %}
	<a>kurzy</a>
{% else %}
	<a>not kurzy<a>
{% endif %} -->
