==
<!-- Bootstrap navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="themes\KurzCademy\assets\Img\logo\KurzCademyLogo.png" class="img-fluid" width="128px" alt="Domov"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {% if this.page.url == '/' %} <!-- Ked je zobrazena hlavna stranka, zobraz:-->
        <a class="nav-item nav-link active" href="/">Domov <span class="sr-only">(current)</span></a>
      {% else %}<!--inak zobraz: -->
        <a class="nav-item nav-link" href="/">Domov <span class="sr-only">(current)</span></a>
      {% endif %}
	  {% if this.page.url == '/kurzy' %}<!-- Ked je zobrazena stranka Kurzy, zobraz: -->
        <a class="nav-item nav-link active" href="kurzy">Kurzy</a>
      {% else %}<!--inak zobraz:-->
        <a class="nav-item nav-link" href="kurzy">Kurzy</a>
      {% endif %}
      {% if user %} <!-- Keď je user prihláseny tak zobraz toto -->
        {% if this.page.url == '/mojekurzy' %}<!-- Ked je zobrazena stranka Moje Kurzy, zobraz: -->
          <a class="nav-item nav-link active" href="mojekurzy">Moje kurzy</a>
        {% else %}<!-- inak zobraz: -->
          <a class="nav-item nav-link" href="mojekurzy">Moje kurzy</a>
        {% endif %}
        <a class="nav-item nav-link" onclick="openPopup('Account')">{{user.name}}</a>
        <a class="nav-item nav-link" data-request="onLogout" data-request-data="">Odhlásiť sa</a>
      {% else %} <!-- Inak toto -->
        <button class="nav-item btn btn-secondary" onclick="openPopup('login')">Prihlásiť sa</button>
        <button class="nav-item ml-1 btn btn-outline-secondary" onclick="openPopup('register')">Zaregistrovať sa</button>
      {% endif %}

    </div>
  </div>
</nav>
<!--
{% if this.page.url == '/kurzy' %}
	<a>kurzy</a>
{% else %}
	<a>not kurzy<a>
{% endif %} -->
