[session]
security = "all"
==
<div class="Students"> <!-- All students -->


    {% if users is defined %}
      <ul>
          {% for user in users %}
              <li>{{ user.username }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    <!-- Nefunkcny kod na zobrazenie uzivatelov (Nezabudnut sa opytat!!!) -->
    <!-- <?php
        $sql = "SELECT name FROM users";
        $result = $conn->query($sql);

        if ($result->num_rows > 0) {
            // output data of each row
            while($row = $result->fetch_assoc()) {
                echo "Name: " . $row["name"] . "<br>";
            }
        } else {
            echo "0 results";
        }
    ?> -->

</div>
