.viewer {
    height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
}

.viewer-head {
    flex: 0 0 47px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 4px;
    padding-right: 0;
}

.viewer-head > * {
    margin-right: 4px;
}

.viewer-head > button {
    margin-top: 6px;
    margin-bottom: 6px;
}

.course-name {
    flex: 1 1;
    border: none;
    font-size: 35px;
}

.viewer-body {
    flex: 1 1;
    display: flex;
    flex-direction: row;
}

.viewer-steps {
    flex: 0 0 200px;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 1px solid black;
}

.viewer-step {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.viewer-step > * {
    background-color: white;
}

.viewer-step > :disabled {
    opacity: 0.5;
}

.viewer-step > button {
    line-height: 14px;
}

.viewer-step-name {
    flex: 1 1;
    text-align: left;
}

.viewer-step-name:disabled {
    opacity: 1;
    background-color: lightgreen;
    color: black;
}

.viewer-main {
    flex: 1 1;
    position: relative;
}

.viewer-iframe {
    height: 100%;
}

.viewer-loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.viewer-no-step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 100px;
}


.viewer-main > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.viewer-course-not-found {
    flex: 1 1;
    text-align: center;
    padding-top: 25vh;
}