.error-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
}

body {
    margin: 0;
}

.step-container {
    position: relative;
    padding: calc(50vw - 450px);
    padding-top: 4px;
    padding-bottom: 0;
    height: 100vh;
    overflow: auto;
    margin: 0;
}

.video {
    width: calc(100% - 10px);
    max-width: 100%;
    height: calc(800px * 0.5625);
}

.document {
    width: calc(100% - 10px);
}

.go-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.go-buttons > * {
    margin-left: 4px;
}
.navigation {
    position: fixed;
    top: 10px;
    left: 10px;
}

.navigation > * {
    display: flex;
    flex-direction: column;
}

.navigation > .nav > * {
    display: block;
    margin-bottom: 10px;
}

.navigation > .nav > * > * {
    display: block;
    width: 100%;
    padding-right: 4px;
    border-right: 2px solid lightgrey;
}

.navigation > .nav > * > .active {
    border-right: 2px solid var(--primary);
}
