.error-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
}

body {
    margin: 0;
}

.step-container {
    padding: 5px;
    height: 100vh;
    width: 900px;
    max-width: 95vw;
    margin: auto;
    /*box-shadow: 0 0 10px grey;*/
}

.video {
    width: calc(100% - 10px);
    max-width: 100%;
    height: calc(800px * 0.5625);
}

.document {
    width: calc(100% - 10px);
    height: 100vh;
    overflow: auto;
}