==
<!-- Footer -->
<footer class="d-flex justify-content-around page-footer font-small blue pt-4 footer" style="color: gray;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm">
				<p>&copy 2020 všetky práva vyhradené <b>KurzCademy.com</b></p>
			</div>
			<div class="col-sm d-flex justify-content-end">
				<p style="float: left;">Sledujte nás na sociálných sietiach</p>
				<a href="https://www.facebook.com/OpenLab.sk/"><img class="footer-img" src="{{'assets/Img/otherLogos/fb-black-nbg.png'|theme}}" alt="fb"></a>
				<a href="https://www.instagram.com/openlab.sk/"><img class="footer-img" src="{{'assets/Img/otherLogos/ig-black-nbg.png'|theme}}" alt="ig"></a>
				<a href="https://www.linkedin.com/company/openlab-sk"><img class="footer-img" src="{{'assets/Img/otherLogos/in-black-nbg.png'|theme}}" alt="in"></a>
			</div>
			<div class="col-sm-1"></div>

	</div>
</footer>
<!-- Footer -->
