==
<!-- Bootstrap navbar -->

<nav class="container-fluid">
	<div class="row">
		<div class="col-1">
			<a class="navbar-brand" style="margin: 0px; padding: 0px" href="/"><img class="" style="height: 50px" src="{{'assets/Img/logo/KurzCademyLogoBezTextu.png'|theme}}" alt="logo here"></a>
		</div>
		<div class="col navbar navbar-expand-lg navbar-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

			{% if this.page.url != '/' %}

			<div style="height: 40px;"></div>
				<hr/ class="show-on-phone">

				{% if this.page.url == '/kurzy' %}
					<a class="nav-item nav-link active" href="/kurzy">Kurzy</a>
				{% else %}
					<a class="nav-item nav-link" href="/kurzy">Kurzy</a>
				{% endif %}

				{% if this.page.url == '/mojekurzy' %}
					<a class="nav-item nav-link disabled active" href="/mojekurzy">Moje kurzy</a>
				{% else %}
					<a class="nav-item nav-link disabled" href="/mojekurzy">Moje kurzy</a>
				{% endif %}

				<hr/ class="show-on-phone">
				<a class="nav-item nav-link show-on-phone" href="/Account">{{ user.name }}</a>
				<a class="nav-item nav-link show-on-phone btn btn-secondary" href="#" data-request="onLogout" data-request-data="">Odhlásiť sa</a>

			{% endif %}

			</div>
		</div>
		<div class="col-3 d-flex justify-content-end">

			{% if user %}

				{% if this.page.url != '/' %}
					<div style="width: 10px;"></div>
                {% endif %}
                {% if user.avatar %}
    				<a class="align-self-center hide-on-phone" href="/Account"><img class="user-avatar" src="{{ user.avatar.path }}" alt="{{ user.name }}"></a>
                    <a class="align-self-start show-on-phone" style="margin-top: 2px;" href="/Account"><img class="user-avatar" src="{{ user.avatar.path }}" alt="{{ user.name }}"></a>
                {% else %}
                    <a class="nav-item nav-link align-self-center " href="/Account">
                        <b>{{user.name}}</b>
                    </a>
                {% endif %}
			{% else %}

				{% if this.page.url != '/' %}
					<button class="btn btn-secondary mainpage-btn" onclick="location.href='login'">Prihlásiť sa</button>
				{% else %}
					<h6 class="align-self-center hide-on-phone" style="color: #ffffff; margin: 2px 10px 0 0;">Ešte nemáš účet?</h6>
				{% endif %}

				<button class="btn btn-secondary mainpage-btn" style="" onclick="location.href='register'">Registruj sa</button>
			{% endif %}

			<button class="navbar-toggler show-on-phone d-flex" style="height: 50px;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<img class="nav-toggle show-on-phone" src="{{'assets/Img/otherLogos/triplebar.png'|theme}}">
			</button>

		</div>
	</div>
</nav>

<!--
{% if this.page.url == '/kurzy' %}
	<a>kurzy</a>
{% else %}
	<a>not kurzy<a>
{% endif %} -->